.profilePic{
    width:  75%;
    height: 40%;
    border-radius: 48%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

span{
    font-size:120%;
}

tr{
    width: 100%;
}

.col{

    width: 34%;
}

.col1{
    width: 22%;
    margin-left: 0.7rem;
}

.text{
    font-size: 2rem;
}

.name{

    font-size: 100%;
    margin-left: 2%;
    padding-left: 18%;
}

.btn{


width: 22rem;
padding-left: 4rem;


}

