
<app-navbar></app-navbar>


<div class="container">
  <br>
<br>
<table>
  <br><br>
  <br><br>
  <tr>
      <th class="col">
        <img class="profilePic" src="{{profilePicture}}" alt="">
        <br><div class="name"><p class="spName">{{fullname}} {{surname}} </p></div>
      </th>

      <th class="col1">
          <span class="text">{{numPosts}}</span><br>
          <span>posts</span>

      </th>
      <th class="col1"  *ngFor ="let c of cFrineds">
        <span class="text">{{c.count}}</span><br>
        <span>friends</span>

    </th>
      &nbsp;
      <th class="col1" >
        <span class="text"><i class="biw bi-bookmark-plus-fill"></i></span><br>
        <p class="text mt-5"><a [routerLink]="['/search']" routerLinkActive="router-link-active" class="fw-bold text-body"><u class="text" style="font-size:0.8rem;">Add Friends</u></a></p><br>
      </th>

  </tr>
</table>
<br>

<button type="button" class="btn btn-secondary" [routerLink]="['/editprofile']" routerLinkActive="router-link-active" > Edit profile </button>
     <br>
           <div class="d-flex justify-content-between align-items-center mb-4" *ngFor="let i of userDetails">
            <div class="card" style="width: 100wv;" >
              <img class="card-img-top"  src="{{i.image}}" alt="Card image cap">
              <div class="card-body">
                <span class="ic"><i class="bi bi-heart"></i>&nbsp;</span>
                <strong >{{i.likes}} <span>likes</span> <span class="deletei" (click)="onClick(i.id)"><i class="bi1 bi-trash "></i></span></strong>
              </div>
            </div> 
            
</div>


<ngx-spinner  bdColor =  #14213D size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<br><br><br><br>

<app-footer></app-footer> 

<div class="updated" [class.visible]="isVisible">
  <i class="fa fa-exclamation-circle" style="font-size: 20px;"></i>post deleted
 </div>