.profilePic{
    width:  70%;
    height: 55%;
    border-radius: 45%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

span{
    font-size:60%;
}

tr{
    width: 100%;
}

.col{

    width: 34%;
}

.col1{
    width: 22%;
    margin-left: 0.7rem;
}

.text{
    font-size: 1.5rem;
}

.name{

    margin-left: 2%;
    margin-right: 2%;
}

.spName{
    font-size: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

button{
    width: 100%;
    margin-bottom: 2rem;
}

.btn{
    margin-left:25%;
    margin-right:25%;
    max-width: 50%;
    padding: 2%;
}

.postsPics{
   
    height:1rem;
}

.deletei{

    float: right;
    margin-top: 0.1rem;
    font-size: 20px;
    color: red;
   
}

.bi{
    font-size: 20px;
}




