
<app-navbar></app-navbar>


<div class="container">
  <br>
<br>
<table>
  <br><br>
  <br><br>
  <tr>
      <th class="col">
        <img class="profilePic" src="https://mdbootstrap.com/images/avatars/img%20(1).jpg" alt="">
        <br><div class="name"><span class="spName"> Godfrey mabena </span></div>
      </th>

      <th class="col1">
          <span class="text"></span><br>
          <span>posts</span>

      </th>
      <th class="col1">
          <span class="text">50k</span><br>
          <span>followers</span>

      </th>
      &nbsp;
      <th class="col1">
          <span class="text">3</span><br>
          <span>following</span>
      </th>

  </tr>
</table>
<br>
<button type="button" class="btn btn-light" [routerLink]="['/editprofile']" routerLinkActive="router-link-active" > Edit profile</button>
           
            <div class="d-flex justify-content-between align-items-center mb-4">
            </div>
            
            <div class="row g-2"  *ngFor="let i of Posts">
              <div class="col">
                <img  class="postsPics" src="{{i.image}}"
                  alt="image 1" class="w-100 rounded-3">
              </div>
              <div class="col">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(114).webp"
                  alt="image 1" class="w-100 rounded-3">
              </div>
              <div class="col">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Lightbox/Original/img%20(114).webp"
                  alt="image 1" class="w-100 rounded-3">
              </div>
            </div>
            
            <br>
      
        <br>
          
          
</div>
<app-footer></app-footer>
