<section class="vh-100 bg-image"
  >
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              
              
              <form #userPost="ngForm"  (ngSubmit)="onSubmit(userPost.value)" NG_VALIDATORS style="text-align: center;">
                <p style=" padding-top:10px;"class="AWE text-center mb-5" > 
                   
                    <span id="A">A</span><span id="W">w</span><span id="E">e</span> 
                </p>
                <p >Sign up to see photos and videos <br> from your friends</p>
                <div class="form-outline mb-4" [class.has-error]="contact.invalid && contact.touched" [class.has-success]="contact.valid ">
                    <input type="tel" class="form-control" id="contact" ngModel name="contact" minlength="10" maxlength="10" placeholder="Mobile Number" #contact="ngModel" required ng-pattern="[7-9][0-9]{9}" >
                    <label class="control-label" for="form3Example1cg"></label>
                    <span class="help-block" *ngIf="contact.errors?.['required'] && contact.touched">
                      <p class="er">Contact is required!</p>
                    </span>
                    <span class="help-block" *ngIf="contact.errors?.['ng-pattern']">
                      <p class="er">Contact is required!</p>
                    </span>
                    
                  
                </div>
                 
                <div class="form-outline mb-4" [class.has-error]="email.invalid && email.touched" [class.has-success]="email.valid ">
                  <input type="text" class="form-control" email id="email" ngModel name="email" placeholder="Email" #email="ngModel" required >
                  <label class="control-label" for="form3Example1cg"></label>
                  <span class="help-block" *ngIf="email.errors?.['required'] && email.touched">
                    <p class="er">Email is required!</p>
                  </span>
                  <span class="help-block" *ngIf="email.errors?.['email'] && email.touched">
                    <p class="er">Email is invalid! (e.g name@gmail.com)</p>
                  </span>
                  
                  
                </div>

                <div class="form-outline mb-4" [class.has-error]="fullname.invalid && fullname.touched" [class.has-success]="fullname.valid ">
                  <input type="text" class="form-control" id="fullname" ngModel name="fullname" minlength="3" placeholder="Full Name" #fullname="ngModel" required>
                  <label class="control-label"  for="form3Example3cg"></label>
                  <span class="help-block" *ngIf="fullname.errors?.['required'] && fullname.touched">
                    <p class="er">fullname is required!</p>
                  </span>
                  <span class="help-block" *ngIf="fullname.errors?.['minlength']">
                    <p class="er">must be at least 3 characters long.</p>
                  </span>
                </div>

                <div class="form-outline mb-4" [class.has-error]="password.invalid && password.touched" [class.has-success]="password.valid ">
              
                  <input type="password" class="form-control" minlength="5" id="password" ngModel name="password" placeholder="Password" #password="ngModel" required>
                  <label class="control-label" for="form3Example4cg"></label>
              
                  <span class="help-block" *ngIf="password.errors?.['required'] && password.touched">
                    <p class="er">password required!</p>
                  </span> 
                  <span class="help-block" *ngIf="password.errors?.['minlength']">
                    <p class="er">password must be at least 5 characters long.</p>
                  </span>
                </div>



                <div class="form-outline mb-4" [class.has-error]="confirm.invalid && confirm.touched" [class.has-success]="confirm.valid ">
              
                  <div class="form-outline mb-4">
                  <input type="password" class="form-control" id="Confrim" ngModel name="confirm" placeholder="Confrim Password" #confirm="ngModel" required>
                  <label class="form-label" for="form3Example4cdg"></label>
              
                  <span class="help-block" *ngIf="confirm.errors?.['required'] && confirm.touched">
                    <p class="er">confirm password required!</p>
                  </span> 
                 
    
                  </div>
                </div>
                
                <p class="text-center text-muted mt-5 mb-0" >Already have an account? <a  [routerLink]="['/login']" routerLinkActive="router-link-active"
                  class="fw-bold text-body"><u>Sign In</u></a></p>
                  <br>
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary" [disabled]="userPost.invalid" >Sign up</button>
              </div>

              </form>
              <br>
             


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



  
