<section class="vh-100 bg-image"
  >
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              
              
              <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)" style="text-align: center;">
                <p style=" padding-top:10px;"class="AWE text-center mb-5" > 
                    <img src="https://cdn-icons-png.flaticon.com/128/1950/1950591.png" id="logo">
                    <span id="A">A</span><span id="W">w</span><span id="E">e</span> 
                </p>
                <p >Sign up to see photos and videos <br> from your friends</p>
                <div class="form-outline mb-4">
                    <input type="text" class="form-control" id="contact" ngModel name="contact" placeholder="Mobile Number"  >
                    <label class="form-label" for="form3Example1cg"></label>
                 
                  <input type="email" class="form-control" id="email" ngModel name="email" placeholder="Email" required>
                  <label class="form-label" for="form3Example1cg"></label>
               

                
                  <input type="text" class="form-control" id="fullname" ngModel name="fullname" placeholder="Full Name" required>
                  <label class="form-label" for="form3Example3cg"></label>
                
                  <input type="text" class="form-control" id="username" ngModel name="username" placeholder="UserName" required>
                  <label class="form-label" for="form3Example4cg"></label>

                  <input type="password" class="form-control" id="password" ngModel name="password" placeholder="Password" required>
                  <label class="form-label" for="form3Example4cg"></label>
              
                

                  <div class="form-outline mb-4">
                  <input type="password" class="form-control" id="Confrim" ngModel name="confirm" placeholder="Confrim Password" required>
                  <label class="form-label" for="form3Example4cdg"></label>
              

                
                
                  </div>
                </div>

    
                <p class="text-center text-muted mt-5 mb-0">Already have an account? <a href="#!"
                  class="fw-bold text-body"><u>Sign In</u></a></p>
                  <br>
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Sign up</button>
              </div>

              </form>
              <br>
             


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


