.logo{
    text-align: center; 



}
.btn{

width: 60%;
background-color: rgb(42, 113, 226);



}
.form-control{

    
    border-color: #157ed4;
  color: rgb(64, 123, 183)
  




}

.has-success{
  border-color: green;

}

.help-block{
  color: red;
  padding-left: 0%;
  font-size: 0.6rem;
}

.er{
  float: left;
  margin-left: 0.1rem;
  margin-bottom: 0%;
}

.er{
  float: left;
  margin-left: 0rem;
  margin-bottom: 0%;
  color: red;
}

.form-outline {
  margin-bottom: 0%;
}