<app-navbar></app-navbar>

<div class="container">
    <br><br><br><br>
   <h2>Notifications</h2>
    <table>
        <tr *ngFor = "let noti of message" >
      
            <th>{{noti.message}}</th>
            <th><img class="img" src="{{noti.image}}" alt=""></th>
        
          
        </tr>

        <tr *ngFor = "let noti of followI" >
            <th>{{noti.message}}</th>
            <th><button (click)="onFollow(noti.friend_id)" type="button" class="btn btn-secondary">{{noti.status}}</button></th>
        </tr>
    </table>
</div>


       
       
 <ngx-spinner bdColor = "rgba(101, 50, 50, 55.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

 <app-footer></app-footer> 





