<app-navbar></app-navbar>
<div class = "headers">
    <br><br><br>
    <h4>This Week</h4>
  <table>
    <tr>
        <th class="h1"> <img class="profilePic rounded-circle"   src="https://mdbootstrap.com/images/avatars/img%20(1).jpg" alt=""></th>
        <th class="h2"> <span class="name">zarabella<p>Started following you</p>


        </span> </th>

    </tr>
    </table>  

    <h4>This Month</h4>


    <table>
        <tr>
            <th class="h1"> <img class="profilePic rounded-circle"   src="https://mdbootstrap.com/images/avatars/img%20(1).jpg" alt=""></th>
            <th class="h2"> <span class="name">zarabella<p>Started following you</p>
    
    
            </span> </th>
    
        </tr>
        </table>  
        <table>
            <tr>
                <th class="h1"> <img class="profilePic rounded-circle"   src="https://mdbootstrap.com/images/avatars/img%20(1).jpg" alt=""></th>
                <th class="h2"> <span class="name">zarabella<p>Started following you</p>
        
        
                </span> </th>
        
            </tr>
            </table>    <table>
                <tr>
                    <th class="h1"> <img class="profilePic rounded-circle"   src="https://mdbootstrap.com/images/avatars/img%20(1).jpg" alt=""></th>
                    <th class="h2"> <span class="name">zarabella<p>Started following you</p>
            
            
                    </span> </th>
            
                </tr>
                </table>    <table>
                    <tr>
                        <th class="h1"> <img class="profilePic rounded-circle"   src="https://mdbootstrap.com/images/avatars/img%20(1).jpg" alt=""></th>
                        <th class="h2"> <span class="name">zarabella<p>Started following you</p>
                
                
                        </span> </th>
                
                    </tr>
                    </table>  











<app-footer></app-footer>





