// .profilePic{
//     width: 2.3rem;
//     height: 2.5rem;
//     border-radius: 1.9rem;
//     margin-top: 0.5rem;
//     margin-bottom: 0.5rem;
// }
.Ncontainer img{
    width: 100%;
}
.profilePic{
    width: 100%;
}

tr{
    width: 100%;
}

.h1{
    width: 10%;
}

.h2{
    width: 90%;
}
.name{

font-size: 1rem;


}
#smallText{
font-size: 0.8rem;


}
.post{

width: 2rem;


}
.headers{
    width: 100%;
    padding: 5%;
}