<app-navbar></app-navbar>


<div class="container">


  
  <br><br><br><br>
    <div class="row" ngFor="let dis of display" *ngFor="let i of Posts" >
      
      <div class="col-sm">
        <div class="card" style="width: 100%;">
            <div class="containerr">
                <div class="row">
                  <div class="col-sm">
                    &nbsp;&nbsp;&nbsp;<img class="profilePic" src="{{i.profilepic}}" alt="">
                    &nbsp;<span>{{i.fullname}} {{i.surname}}</span>
                    <span><i class="bi1 bi-three-dots-vertical"></i></span>
                    
                  </div> 
                </div>
              </div>
              
            <img class="card-img-top" src="{{i.image}}" alt="Card image cap">
            <div class="card-body">
                <span class="ic"><i class="bi bi-heart"></i>&nbsp;</span>
                <span class="ic"><i class="bi bi-chat"></i>&nbsp;</span>
                <strong>50 000 likes</strong><br>
                <span class="caption">{{i.caption}}</span>
                
            </div>
           
          </div>
      </div>
</div>

<br><br><br><br><br>
<!-- <app-footer></app-footer> -->




