<app-navbar></app-navbar>


<div class="container">
    <br>
<br>
<br>
    <table>
        <tr>
            <th class="col">
                <img class="profilePic" src="https://mdbootstrap.com/images/avatars/img%20(1).jpg" alt="">
                <br><span class="name">mabena </span>
            </th>
            <th class="col1">
                <span class="text">10k</span><br>
                <span>posts</span>
               
            </th>
            <th class="col1">
                <span class="text">50k</span><br>
                <span>followers</span>
               
            </th>
            &nbsp;
            <th class="col1">
                <span class="text">3</span><br>
                <span>following</span>
            </th>
           
        </tr>
    </table>

    <form action="/action_page.php">
       
        <br>
        <input type="file" class="form-control" id="customFile" />
        <br>
        <div class="mb-3">
            <textarea placeholder="enter caption here" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        
        <div class="col-md-12 text-center">
        <button type="button" class="btn btn-light">post</button>
        </div>
      </form>

 <br><br><br><br><br><br><br>
</div>
<app-footer></app-footer>

