<app-navbar></app-navbar>


<div class="container">
    <br>
<br>
<br>
    <table>
        <tr>
            <th class="col">
                <img class="profilePic" src="{{profilepic}}" alt="">
                <br><div class="name"><span class="spName"> {{fullname}}  {{surname}} </span></div>
            </th>
            <th class="col1">
                <span class="text">{{numPosts}}</span><br>
                <span>posts</span>
               
            </th>
            <th class="col1"  *ngFor ="let c of cFrineds">
                <span class="text">{{c.count}}</span><br>
                <span>friends</span>
               
            </th>
            &nbsp;
            <th class="col1" >
                <span class="text"><i class="biw bi-bookmark-plus-fill"></i></span><br>
                <p class="text mt-5"><a [routerLink]="['/search']" routerLinkActive="router-link-active" class="fw-bold text-body"><u class="text" style="font-size:0.8rem;">Add Friends</u></a></p><br>
         </th>
           
        </tr>
    </table>

  


      <form [formGroup]="post" (ngSubmit)="onSubmit()" NG_VALIDATORS *ngFor="let user of userDetails">

       
        <br>
        <input formControlName="file"  type="file" class="form-control" (change)="onFileChange($event)" required>
        <br>

        <div class="mb-3">
            <textarea placeholder="enter caption here" formControlName="caption" name="caption"   class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>


        <div class="col-md-12 text-center">
            <button  [disabled]="post.invalid" type="submit" class="btn btn-secondary">post</button>
        </div>
        
      </form>
      <ngx-spinner bdColor =  #14213D size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > </p></ngx-spinner>
 <br><br><br><br><br><br><br>

 



</div>
<app-footer></app-footer> 

<div class="updated" [class.visible]="isVisible">
    <i class="fa fa-exclamation-circle" style="font-size: 20px;"></i>image uploaded
</div>