.profilePic{
    width:  75%;
    height: 40%;
    border-radius: 48%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

span{
    font-size:60%;
}

tr{
    width: 100%;
}

.col{
   
    width: 34%;
}

.col1{
    width: 22%;
    margin-left: 0.7rem;
}

.text{
    font-size: 1.5rem;
}

.name{

    margin-left: 2%;
    margin-right: 2%;
}

.spName{
    font-size: 100%;
    margin-left: 10%;
    margin-right: 10%;
}
.btn{


width: 13rem;



}