.btn{



    width:100%;
    
    }
    .text-right{

      float:right ;
      margin-right: 6%;
    
    }

    .text-right1{

        margin-left: 20%;
        width: auto;
        display: flex;
      
      }