<div class="Desktopmenu col">
    <div class="row">
      <a class="btn text-white btn-floating m-1" [routerLink]="['/notifications']" routerLinkActive="router-link-active" 
        href="#!"role="button">
        <i class="bi2 bi-bell">Home</i>
      </a>
    </div>
    <div class="row">
      <a class="btn text-white btn-floating m-1" [routerLink]="['/notifications']" routerLinkActive="router-link-active" 
        href="#!"role="button">
        <i class="bi2 bi-bell">Search</i>
      </a>
    </div>
    <div class="row">
      <a class="btn text-white btn-floating m-1" [routerLink]="['/notifications']" routerLinkActive="router-link-active" 
        href="#!"role="button">
        <i class="bi2 bi-bell">Upload</i>
      </a>
    </div>
    <div class="row">
      <a class="btn text-white btn-floating m-1" [routerLink]="['/notifications']" routerLinkActive="router-link-active" 
        href="#!"role="button">
        <i class="bi2 bi-bell">Notification</i>
      </a>
    </div>
    <div class="row">
      <a class="btn text-white btn-floating m-1" [routerLink]="['/notifications']" routerLinkActive="router-link-active" 
        href="#!"role="button">
        <i class="bi2 bi-bell">Profile</i>
      </a>
    </div>
  </div>
