<app-navbar></app-navbar>
<div class="container">


 <br><br><br><br>
 <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    
  </form>
<table style="width: 100%;">
    <tr>
        <th class="col">
            <div class="card" style="width: 90%;">
                <img class="card-img-top" src="https://static.wixstatic.com/media/283768_6a2a22cb450e488aba8297666174cf45~mv2.jpg/v1/fill/w_810,h_455,al_c,q_85/283768_6a2a22cb450e488aba8297666174cf45~mv2.webp" alt="Card image cap">
                <!-- <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div> -->
              </div>
        </th>
        <th class="col1">
            <div class="card" style="width: 90%;">
                <img class="card-img-top" src="https://static.wixstatic.com/media/283768_80174e80acf44c878fd8041e874eb0fd~mv2.jpg/v1/fill/w_768,h_432,al_c,q_85/283768_80174e80acf44c878fd8041e874eb0fd~mv2.webp" alt="Card image cap">
                <!-- <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div> -->
              </div>
           
        </th>
        <th class="col1">
            <div class="card" style="width: 90%;">
                <img class="card-img-top" src="https://static.wixstatic.com/media/283768_33945bf2f67b484c940deb37b3e28b4b~mv2.jpeg/v1/fill/w_810,h_455,al_c,q_85/283768_33945bf2f67b484c940deb37b3e28b4b~mv2.webp" alt="Card image cap">
                <!-- <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div> -->
              </div>
           
        </th>
        &nbsp;
        <!-- <th class="col1">
            <span class="text">3</span><br>
            <span>following</span>
        </th> -->
       
    </tr>
</table>
<br><br><br><br><br><br><br>
</div>
<app-footer></app-footer>


