.card-img-top{
    height: 8rem;
    border-radius: 1rem;
}

.card{
    border-radius: 1rem;
}

.profilePic{
    width:  30%;
    height: 20%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.col1{
    width:70%;
}

.col3{

    width: 30%;
    margin-left: 0%;
}

.userTable{
    margin-left: 1rem;
    margin-top: 1rem;
}