/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
.AWE{
    font-size: 42px;
}
#A{
    color:#FAA21E;
}
#W{
    color: #20A8F5;
}
#E{
    color: #000000;
}
#logo{
    // width: 12%;
   height: 40px;
   max-width: 94%;
}
.test-right{
    background-color: #20A8F5;
    color: #fff;
   box-shadow: #FAA21E;
}
/* Importing Bootstrap SCSS file. */

// Variable overrides first

$enable-shadows: true;
$prefix: "mo-";

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";
