/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
.AWE{
    font-size: 42px;
}
#A{
    color:#FAA21E;
}
#W{
    color: #20A8F5;
}
#E{
    color: #000000;
}
#logo{
    // width: 12%;
   height: 40px;
   max-width: 94%;
}
.test-right{
    background-color: #20A8F5;
    color: #fff;
   box-shadow: #FAA21E;
}


.updated  {
    position: fixed;
     top: 0;
     right: 0.5rem;
    border:1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.1rem;
    padding: 2rem;
    background: #05dade;
    color: #ffffff;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
    transition:  all 0.2s ease-in-out;
    opacity: 0;
    margin-top: 60px;
  }

  .visible {
    opacity: 1;
    transform: translateY(1.25rem);
  }


// Variable overrides first

$enable-shadows: true;
$prefix: "mo-";


// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";
