<app-navbar></app-navbar>

<section class="vh-100 bg-image">
<br>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card topMargin" style="border-radius: 15px">
            <div class="card-body p-5">
              <link
                href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
                rel="stylesheet"
                id="bootstrap-css"
              />
              <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
              <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

              <div class="container">
                <div class="row"></div>
              </div>

              <form
                #userPost="ngForm"
                (ngSubmit)="onSubmit(userPost.value)"
                style="text-align: center"
              >
                <img
                  class="profilep"
                  src="https://t4.ftcdn.net/jpg/02/24/86/95/360_F_224869519_aRaeLneqALfPNBzg0xxMZXghtvBXkfIA.jpg"
                />
                <p style="padding-top: 10px" class="AWE text-center mb-5"></p>
                <p>change profile picture<br /></p>
                <div class="form-outline mb-4">
           

                  <label class="form-label" for="form3Example1cg">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="{{user}}"
                    disabled
                  />

                  <label class="form-label" for="form3Example3cg"
                    >Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="fullname"
                    ngModel
                    name="fullname"
                    placeholder="Name"
                    required
                    disabled
                  />

                  <label class="form-label" for="form3Example4cg"
                    >Surname</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                   
                    name="username"
                    placeholder="Surname"
                    required
                    disabled
                  />

                  <label class="form-label" for="form3Example4cg"
                    >password</label
                  >
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    ngModel
                    name="password"
                    placeholder="Password"
                    required
                  />

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cdg"
                      >confirm</label
                    >
                    <input
                      type="password"
                      class="form-control"
                      id="Confrim"
                      ngModel
                      name="confirm"
                      placeholder="Confrim Password"
                      required
                    />
                  </div>
                </div>

                <br />
                <div class="d-flex justify-content-center">
                  <button type="submit" class="btn btn-light" [routerLink]="['/profile']" routerLinkActive="router-link-active" >update</button>
                </div>
              </form>
              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br><br>
<app-footer></app-footer>