
#footer{

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color:    #ff4f4f;;
  
}

.bi2{
    color: white;
    font-size: 30px;
    
}

.mb-4{
    background-color: #ff4f4f;
}