

<footer class="bg-light  text-white text-center " id="footer" >
    <!-- Grid container -->
    <div class="container-fluid p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4  ">
        <!-- house -->
        <a class="btn text-white btn-floating m-1" [routerLink]="['/home']" routerLinkActive="router-link-active" 
         
          href="#!"
          role="button">
          <i class="bi2 bi-house "></i></a>
       
  
        <!-- search-->
        <a class="btn text-white btn-floating m-1" [routerLink]="['/search']" routerLinkActive="router-link-active" 
        
          href="#!"
          role="button"
          ><i class="bi2 bi-search "></i></a>
  
        <!-- plus -->
        <a class="btn text-white btn-floating m-1" [routerLink]="['/upload']" routerLinkActive="router-link-active" 
         
          href="#!"
          role="button"
          ><i class="bi2 bi-plus-lg"></i></a>
  
        <!-- bell -->
        <a class="btn text-white btn-floating m-1" [routerLink]="['/notifications']" routerLinkActive="router-link-active" 
        
          href="#!"
          role="button"
          ><i class="bi2 bi-bell"></i></a>
  
        <!-- person -->
        <a class="btn text-white btn-floating m-1" [routerLink]="['/profile']" routerLinkActive="router-link-active" 
       
          href="#!"
          role="button"
          ><i class="bi2 bi-person-fill"></i></a>
        <!-- Github -->
    
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
  
  
  