
#footer{

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color:  transparent
  
}

.bi2{
    color: black;
    font-size: 30px;
    
}

.mb-4{
    background-color:  #f1f1f1a9;
    box-shadow: 0px 0px 10px rgba(68, 68, 68, 0.481);
    border-radius: 2rem;
}
@media (min-width:1024px)
{
    .mobile-menu{

       display: none;

    }
}
